{% extends 'base.html' %}

 {% block content %}
  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Loop untuk mengisi tiap baris tabel dengan isi dari katalog {% endcomment %}
    {% for watchlist in watchlist_data %}
      <tr>
        {% comment %} Bila watched 1 maka "Yes", bila 0 maka "No"{% endcomment %}
        {% if watchlist.watched == 1 %}
        <th>Yes</th>
        {% else %}
        <th>No</th>
        {% endif %}
        <th>{{watchlist.title}}</th>
        <th>{{watchlist.rating}}</th>
        <th>{{watchlist.release_date}}</th>
        <th>{{watchlist.review}}</th>
      </tr>
    {% endfor %}
  </table>

  {% comment %} Tugas Bonus {% endcomment %}

 {% endblock content %}